<div class="vh-100 vw-100 bg-white d-flex flex-column z-index-1" [style.paddingLeft]="sidebarService.width">
    <div class="w-100 d-flex justify-content-end bg-light border-bottom">
        <div class="d-flex p-2">
            <span class="gip-icon-user m-1" [style.--color]="'gray'"></span>
            <span class="text-secondary my-auto cursor-default">{{authService.currentUser.login}}</span>
        </div>
    </div>
    <div class="h-100 w-100 d-flex overflow-auto">
        <div class="w-100 d-inline-flex flex-wrap flex-gap justify-content-start align-items-start p-2">
            <ng-container *ngFor="let item of storageService.notes">
                <div (focusin)="setActive(item)" (focusout)="setActive(null)"
                    class="border rounded d-flex flex-column justify-content-between {{item.color}}-color"
                    [ngClass]="{'w-100': storageService.isFullWidth}" [style.height.px]="250" [style.width.px]="250">
                    <ng-container *ngIf="item.title?.length">
                        <div class="h4 m-0 p-3" [style.height.px]="50">{{item.title}}</div>
                    </ng-container>
                    <textarea type="text" class="flex-grow-1 border-0 align-top bg-transparent p-2"
                        [(ngModel)]="item.text" (change)="update(item)"></textarea>
                    <div class="d-flex justify-content-between w-100 p-2">
                        <button class="color-garnet p-1" (click)="delete(item)">
                            <span class="gip-icon-trash color-garnet"></span>
                        </button>
                        <div class="text-secondary d-flex justify-content-end align-content-end cursor-default my-auto">
                            {{item.u_date | momentDate}}</div>
                    </div>
                </div>
            </ng-container>
            <div class="border rounded d-flex flex-column justify-content-between bg-transparent"
                [style.height.px]="250" [style.width.px]="250">
                <input class="h4 m-0 p-3 w-100 bg-transparent border-0" [style.height.px]="50"
                    [(ngModel)]="newItem.title" placeholder="Заголовок...">
                <textarea class="flex-grow-1 border-0 align-top bg-transparent p-2" [(ngModel)]="newItem.text"
                    placeholder="Новая заметка..." (change)="create()"></textarea>
            </div>
        </div>
    </div>
</div>