<div class="vh-100 vw-100 bg-white d-flex flex-column z-index-0"
    [style.paddingLeft]="storageService.leftBarWidth$ | async" [style.paddingTop]="storageService.topBarHeight$ | async">
    <div class="p-2 h-100 w-100 d-flex">
        <note-list class="border rounded w-50" [style.maxWidth.px]="500"></note-list>
        <div class="ml-2 border rounded flex-grow-1 bg-light">123111111111111111111111</div>
    </div>
</div>

<left-bar class="z-index-2"></left-bar>
<top-bar class="z-index-1"></top-bar>